
# Ignore the dataset folder
yelp_dataset/
parquet/


# Ignore system files
.DS_Store
**/.DS_Store/

# Virtual environments
venv/
env/
.venv/
.env/
ENV/
env.bak/
venv.bak/
cse6242/

# Editor settings
# Ignore everything in .vscode except settings.json so teammates get the right Python env hints
.vscode/*
!.vscode/settings.json

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd