
# Ignore the dataset folder
# ignore notebooks outputs
review_wordcloud.png
yelp_dataset/
parquet/

# Ignore the dataset folder within algorithm-prototype folder
algorithm-prototype/checkpoints/
algorithm-prototype/checkpoints/*
algorithm-prototype/checkpoints.json
algorithm-prototype/parquet
algorithm-prototype/.venv
algorithm-prototype/Aspect*
*.state_dict
*.pt
*.pth
*.ckpt

# Ignore system files
.DS_Store
**/.DS_Store/

# Virtual environments
venv/
env/
.venv/
.env
.env/
ENV/
env.bak/
venv.bak/
cse6242/

# Editor settings
# Ignore everything in .vscode except settings.json so teammates get the right Python env hints
.vscode/*
!.vscode/settings.json


# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
# Temporary directories
temp/
tempspark-*/

