
# Ignore the dataset folder
# ignore notebooks outputs
review_wordcloud.png
yelp_dataset/
parquet/

# Ignore the dataset folder within julie-creditability-weighting-evaluation folder
creditability-weighting-evaluation/parquet/*
creditability-weighting-evaluation/scripts/__pycache__
creditability-weighting-evaluation/results/*

# Ignore system files
.DS_Store
**/.DS_Store/

# Virtual environments
venv/
env/
.venv/
.env/
ENV/
env.bak/
venv.bak/
cse6242/

# Editor settings
# Ignore everything in .vscode except settings.json so teammates get the right Python env hints
.vscode/*
!.vscode/settings.json


# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd